@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0f0f;
  --foreground: #e7e1e1;
  --bodyText: #fff;
  --lightModeLight: #6abdaf;
  --lightModeDark: #00796b;
  --lightModeDarkest:#01534c;
  --darkModeLight: #272b2b;
  --darkModeDark: #202020;
  --darkModeDarkest:#0f0f0f;
}

body {
  color: var(--bodyText);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin:0em !important;
  width: fit-content;
}

.mainCont {
  height:fit-content;
}

.mainLight {
  color: var(--bodyText);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.mainLight {
  color: var(--bodyText);
  background: var(--backgroundDark);
  font-family: Arial, Helvetica, sans-serif;
}

.lightModeLight {
  background-color: var(--lightModeLight);
  color: var(--lightModeDarkest);
}

.lightModeDark {
  background-color: var(--lightModeDark);
}

.lightModeDarkest {
  background-color: var(--lightModeDarkest);
}

.darkModeLight {
  background-color: var(--darkModeLight);
}

.darkModeDark {
  background-color: var(--darkModeDark);
}

.darkModeDarkest {
  background-color: var(--darkModeDarkest);
}

/*****************Top menu banner********************/
.topBanner {
  display: flex;
  flex-direction: row;
  height: auto;
  position: fixed;
  width: 100%;
}

.topBanner .siteTitle {
  margin: 1em;
}

.menuButtons {
  display: flex;
  flex-direction: row;
  color: var(--foreground);
  margin: auto;
}

.darkModeSwitch {
  margin-left: auto !important;
  margin-right: 0 !important;
  padding: 2em 1em;
}

.darkModeSwitch > label {
  font-size: 3em;
  font-weight: 550;
}

.topBanner h1 {
  font-size: 3em;
  margin: 0;
}

.topBanner h2 {
  margin: 0;
}

.topBanner button {
  font-size: 3em;
  font-weight: 550;
  padding: 1em;
  color: var(--foreground);
  background-color: transparent;
  border-width:0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lightModeLight);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0em;
  bottom: 0em;
  background-color: var(--foreground);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 0.1em #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5em);
  -ms-transform: translateX(1.5em);
  transform: translateX(1.5em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 50%;
}

.slider.round:before {
  border-radius: 50%;
}


/***************** Sections ********************/
.section {
  padding-top: 0.5em;
  height:auto;
  padding-bottom: 2em;
  text-align: center;
  font-size: 2em;
}

.hiddenSection {
  height: 12em;
}

.summarySection {
  display: flex;
  justify-content: center;
}

.photo {
  display: flex;
  margin: auto;
  width: fit-content;
}

.photo > img {
  border-radius: 50%;
  padding-top: 1em;
  height: 20em;
}

.contact {
  text-align: center;
}

.contact a {
  color: #fff;
}

.skillsSection {
  text-align:  center;
}

.skillsList {
  margin: 1em;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: fit-content;
  text-align:  center;
}

.skillRow {
  display: flex;
  flex-direction: row;
  text-align:  center;
}

.skillsList > div {
  padding-bottom: 1em;
  width: inherit;
}

.skillItem {
  padding: 1em;
  margin: 0em 2em 0 2em;
  width: 4em;
  border-radius: 50%;
}

.trainingList {
  margin: auto;
  width: fit-content;
}

.trainingList ul {
  text-align: left;
  width: auto;
}

.trainingList li {
  padding: 1em 0 1em 0;
}

.sectionCV {
  align-items: center;
  text-align: center;
}

.downloadButtons {
  padding: 0 40%;
  display:flex;
  justify-content: center;

}

.downloadBtn {
  font: bold 0.5em Arial;
  text-decoration: none;
  padding: 1em 3em;
  border-top: 0.1em solid #CCCCCC;
  border-right: 0.1em  solid #333333;
  border-bottom: 0.1em  solid #333333;
  border-left: 0.1em  solid #CCCCCC;
  margin: 1em;
  color: #fff;
}

.footer {
  height: 10em;

}

.section button {
  padding: 0.5em;
  margin: 0.5em;
  width: 10em;
  padding:1em;
  color: #fff;

}

.footerLinksList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerLinksList > a {
  padding: 0.5em;
}

.footerLinksList img {
  padding: 1em;
  width: 3em;
}

 @media screen and (max-width: 2050px) {
    .topBanner button {
        font-size: 2em;
    }

    .darkModeSwitch > label {
        font-size: 2em;
    }

    .hiddenSection {
      height: 10em;
    }
    .section p {
      padding: 0 2em;
    }

    .skillItem {
        margin: 0.6em;
    }

}

@media screen and (max-width: 1480px) {
    .summarySection {
      padding-top: 1em;
      display:block;
    }

    .topBanner h1 {
        padding-right:0.5em;
        padding-left:0;
        width:fit-content;
    }

    .topBanner h2 {
        padding-right:0;
        padding-left:0;
        width:fit-content;
    }

    .topBanner .siteTitle {
        padding-right:0;
        padding-left:0;
        width:fit-content;
    }

    .topBanner button {
        padding-right:0.5em;
        padding-left: 0;
        padding-top: 1.5em;
    }

    .skillsList {
      flex-direction: column;
      text-align: center;
      width: fit-content;
      margin: auto;
    }

    .skillRow {
      display: flex;
      flex-direction: row;
      text-align:  center;
    }
  }

 @media screen and (max-width: 1200px) {

    .summarySection {
        padding-top: 0em;
    }

    .topBanner button {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 900px) {

    .topBanner button {
        display: none;
    }

    .photo > img {
      border-radius: 50%;
      height: 5em;
      padding-top: 1em;
    }
}

@media screen and (max-width: 450px) {
    .darkModeSwitch > label {
        font-size: 1em;
    }

    .topBanner h1 {
        font-size: 1em;
        margin: 0px;
    }
    
    .section {
      font-size: 1em;
    }

    .skillItem {
      width:auto;
    }

    .hiddenSection {
      height: 6.5em;
      width: auto;
    }
}